In [ ]:
# 드라이브 마운트
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import os
from glob import glob
import pickle

# 병합작업

In [ ]:
loan_result = pd.read_csv("/content/drive/MyDrive/빅콘테스트 2022/data/loan_result.csv")

In [ ]:
user = pd.read_csv("/content/drive/MyDrive/빅콘테스트 2022/data/user_spec.csv")

In [ ]:
user.isnull().sum()

application_id                               0
user_id                                      0
birth_year                               12961
gender                                   12961
insert_time                                  0
credit_score                            105115
yearly_income                               90
income_type                                 85
company_enter_month                     171760
employment_type                             85
houseown_type                               85
desired_amount                              85
purpose                                     85
personal_rehabilitation_yn              587461
personal_rehabilitation_complete_yn    1203354
existing_loan_cnt                       198556
existing_loan_amt                       313774
dtype: int64

In [ ]:
loan_result.isnull().sum()

application_id                 0
loanapply_insert_time          0
bank_id                        0
product_id                     0
loan_limit                  7495
loan_rate                   7495
is_applied               3257239
dtype: int64

In [ ]:
loan_result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13527363 entries, 0 to 13527362
Data columns (total 7 columns):
 #   Column                 Dtype
---  ------                 -----
 0   application_id         int64
 1   loanapply_insert_time  object
 2   bank_id                int64
 3   product_id             int64
 4   loan_limit             float64
 5   loan_rate              float64
 6   is_applied             float64
dtypes: float64(3), int64(3), object(1)
memory usage: 722.4+ MB

In [ ]:
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1394216 entries, 0 to 1394215
Data columns (total 17 columns):
 #   Column                               Non-Null Count    Dtype
---  ------                               --------------    -----
 0   application_id                       1394216 non-null  int64
 1   user_id                              1394216 non-null  int64
 2   birth_year                           1381255 non-null  float64
 3   gender                               1381255 non-null  float64
 4   insert_time                          1394216 non-null  object
 5   credit_score                         1289101 non-null  float64
 6   yearly_income                        1394126 non-null  float64
 7   income_type                          1394131 non-null  object
 8   company_enter_month                  1222456 non-null  float64
 9   employment_type                      1394131 non-null  object
 10  houseown_type                        1394131 non-null  object
 11  desired_amount                       1394131 non-null  float64
 12  purpose                              1394131 non-null  object
 13  personal_rehabilitation_yn           806755 non-null   float64
 14  personal_rehabilitation_complete_yn  190862 non-null   float64
 15  existing_loan_cnt                    1195660 non-null  float64
 16  existing_loan_amt                    1080442 non-null  float64
dtypes: float64(10), int64(2), object(5)
memory usage: 180.8+ MB

In [ ]:
df = pd.merge(loan_result,user,on=['application_id'],how='left')

In [ ]:
df

,application_id,loanapply_insert_time,bank_id,product_id,loan_limit,loan_rate,is_applied,user_id,birth_year,gender,...,income_type,company_enter_month,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt
0,1748340,2022-06-07 13:05:41,7,191,42000000.0,13.6,NaN,430982.0,1996.0,1.0,...,EARNEDINCOME,20220201.0,정규직,자가,25000000.0,대환대출,0.0,0.0,2.0,15000000.0
1,1748340,2022-06-07 13:05:41,25,169,24000000.0,17.9,NaN,430982.0,1996.0,1.0,...,EARNEDINCOME,20220201.0,정규직,자가,25000000.0,대환대출,0.0,0.0,2.0,15000000.0
2,1748340,2022-06-07 13:05:41,2,7,24000000.0,18.5,NaN,430982.0,1996.0,1.0,...,EARNEDINCOME,20220201.0,정규직,자가,25000000.0,대환대출,0.0,0.0,2.0,15000000.0
3,1748340,2022-06-07 13:05:41,4,268,29000000.0,10.8,NaN,430982.0,1996.0,1.0,...,EARNEDINCOME,20220201.0,정규직,자가,25000000.0,대환대출,0.0,0.0,2.0,15000000.0
4,1748340,2022-06-07 13:05:41,11,118,5000000.0,16.4,NaN,430982.0,1996.0,1.0,...,EARNEDINCOME,20220201.0,정규직,자가,25000000.0,대환대출,0.0,0.0,2.0,15000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13527358,1428218,2022-06-03 12:01:58,62,200,3000000.0,14.8,NaN,478802.0,1965.0,1.0,...,EARNEDINCOME,20190301.0,정규직,기타가족소유,50000000.0,대환대출,0.0,NaN,2.0,56000000.0
13527359,1428218,2022-06-03 12:01:49,2,7,40000000.0,11.8,NaN,478802.0,1965.0,1.0,...,EARNEDINCOME,20190301.0,정규직,기타가족소유,50000000.0,대환대출,0.0,NaN,2.0,56000000.0
13527360,1428218,2022-06-03 12:01:48,32,257,15000000.0,7.2,NaN,478802.0,1965.0,1.0,...,EARNEDINCOME,20190301.0,정규직,기타가족소유,50000000.0,대환대출,0.0,NaN,2.0,56000000.0
13527361,1428218,2022-06-03 12:01:48,33,110,44000000.0,13.5,NaN,478802.0,1965.0,1.0,...,EARNEDINCOME,20190301.0,정규직,기타가족소유,50000000.0,대환대출,0.0,NaN,2.0,56000000.0
13527362,1428218,2022-06-03 12:01:48,5,194,44000000.0,9.7,NaN,478802.0,1965.0,1.0,...,EARNEDINCOME,20190301.0,정규직,기타가족소유,50000000.0,대환대출,0.0,NaN,2.0,56000000.0

In [ ]:
df.to_csv('/content/drive/MyDrive/빅콘테스트 2022/data/user+loan raw data.csv',index=False)

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/빅콘테스트 2022/data/user+loan raw data.csv') # 유저테이블과 상품테이블 병합한 로우 테이블 저장

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13527363 entries, 0 to 13527362
Data columns (total 23 columns):
 #   Column                               Dtype
---  ------                               -----
 0   application_id                       int64
 1   loanapply_insert_time                object
 2   bank_id                              int64
 3   product_id                           int64
 4   loan_limit                           float64
 5   loan_rate                            float64
 6   is_applied                           float64
 7   user_id                              float64
 8   birth_year                           float64
 9   gender                               float64
 10  insert_time                          object
 11  credit_score                         float64
 12  yearly_income                        float64
 13  income_type                          object
 14  company_enter_month                  float64
 15  employment_type                      object
 16  houseown_type                        object
 17  desired_amount                       float64
 18  purpose                              object
 19  personal_rehabilitation_yn           float64
 20  personal_rehabilitation_complete_yn  float64
 21  existing_loan_cnt                    float64
 22  existing_loan_amt                    float64
dtypes: float64(14), int64(3), object(6)
memory usage: 2.3+ GB

In [ ]:
# 트레인 데이터와 테스트 데이터의 분리
train_df = df.loc[~df['is_applied'].isna()] # train_df

In [ ]:
test_df = df.loc[df['is_applied'].isna()] # test_df

In [ ]:
train_df.to_csv('/content/drive/MyDrive/빅콘테스트 2022/data/user+loan raw data(train).csv',index=False)
test_df.to_csv('/content/drive/MyDrive/빅콘테스트 2022/data/user+loan raw data(test).csv',index=False)

# 전처리

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/빅콘테스트 2022/data/user+loan raw data(train).csv') # train_df 전처리
# df = pd.read_csv('/content/drive/MyDrive/빅콘테스트 2022/data/user+loan raw data(test).csv') # test_df 전처리

In [ ]:
df['insert_time'].unique()

array(['2022-05-09 08:44:57', '2022-05-09 10:54:51',
       '2022-05-09 10:41:05', ..., '2022-05-16 11:09:00',
       '2022-05-16 07:52:12', '2022-05-16 06:40:23'], dtype=object)

In [ ]:
df.iloc[:,[1,10]] # 동일하니까 제거

         loanapply_insert_time          insert_time
0          2022-05-09 08:44:59  2022-05-09 08:44:57
1          2022-05-09 10:54:53  2022-05-09 10:54:51
2          2022-05-09 10:54:53  2022-05-09 10:54:51
3          2022-05-09 10:41:06  2022-05-09 10:41:05
4          2022-05-09 10:41:07  2022-05-09 10:41:05
...                        ...                  ...
10270119   2022-05-16 14:42:58  2022-05-16 14:42:55
10270120   2022-05-16 14:42:57  2022-05-16 14:42:55
10270121   2022-05-16 14:42:56  2022-05-16 14:42:55
10270122   2022-05-16 14:43:18  2022-05-16 14:42:55
10270123   2022-05-16 14:42:56  2022-05-16 14:42:55

[10270124 rows x 2 columns]

In [ ]:
df.pop('insert_time') # 동일한 변수 제거

0           2022-05-09 08:44:57
1           2022-05-09 10:54:51
2           2022-05-09 10:54:51
3           2022-05-09 10:41:05
4           2022-05-09 10:41:05
                   ...
10270119    2022-05-16 14:42:55
10270120    2022-05-16 14:42:55
10270121    2022-05-16 14:42:55
10270122    2022-05-16 14:42:55
10270123    2022-05-16 14:42:55
Name: insert_time, Length: 10270124, dtype: object

In [ ]:
df.iloc[:,[1,8]]

         loanapply_insert_time  birth_year
0          2022-05-09 08:44:59      1970.0
1          2022-05-09 10:54:53      1977.0
2          2022-05-09 10:54:53      1977.0
3          2022-05-09 10:41:06      1983.0
4          2022-05-09 10:41:07      1983.0
...                        ...         ...
10270119   2022-05-16 14:42:58      1977.0
10270120   2022-05-16 14:42:57      1977.0
10270121   2022-05-16 14:42:56      1977.0
10270122   2022-05-16 14:43:18      1977.0
10270123   2022-05-16 14:42:56      1977.0

[10270124 rows x 2 columns]

In [ ]:
from datetime import datetime
df['loanapply_insert_time'] = pd.to_datetime(df['loanapply_insert_time']) # datetime으로 변경

In [ ]:
df['apply_year'] = df['loanapply_insert_time'].dt.year # 신청한 년도 칼럼 생성 -> 유저 나이 계산 목적

In [ ]:
df['apply_year']

0           2022
1           2022
2           2022
3           2022
4           2022
            ...
10270119    2022
10270120    2022
10270121    2022
10270122    2022
10270123    2022
Name: apply_year, Length: 10270124, dtype: int64

In [ ]:
df['user_age'] = df['apply_year']-df['birth_year'] # 신청한 유저의 나이 칼럼 생성

In [ ]:
df.pop('birth_year') # 필요없는 변수 제거

0           1970.0
1           1977.0
2           1977.0
3           1983.0
4           1983.0
             ...
10270119    1977.0
10270120    1977.0
10270121    1977.0
10270122    1977.0
10270123    1977.0
Name: birth_year, Length: 10270124, dtype: float64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10270124 entries, 0 to 10270123
Data columns (total 23 columns):
 #   Column                               Dtype
---  ------                               -----
 0   application_id                       int64
 1   loanapply_insert_time                datetime64[ns]
 2   bank_id                              int64
 3   product_id                           int64
 4   loan_limit                           float64
 5   loan_rate                            float64
 6   is_applied                           float64
 7   user_id                              float64
 8   gender                               float64
 9   credit_score                         float64
 10  yearly_income                        float64
 11  income_type                          object
 12  company_enter_month                  float64
 13  employment_type                      object
 14  houseown_type                        object
 15  desired_amount                       float64
 16  purpose                              object
 17  personal_rehabilitation_yn           float64
 18  personal_rehabilitation_complete_yn  float64
 19  existing_loan_cnt                    float64
 20  existing_loan_amt                    float64
 21  apply_year                           int64
 22  user_age                             float64
dtypes: datetime64[ns](1), float64(14), int64(4), object(4)
memory usage: 1.8+ GB

In [ ]:
df['company_enter_month'] = df['company_enter_month'].astype(str)
df['company_enter_month']

0           201312.0
1           201908.0
2           201908.0
3           201203.0
4           201203.0
              ...
10270119    202108.0
10270120    202108.0
10270121    202108.0
10270122    202108.0
10270123    202108.0
Name: company_enter_month, Length: 10270124, dtype: object

In [ ]:
df['company_enter_month'] = df['company_enter_month'].str.split(".").str.get(0)

In [ ]:
df['company_enter_month']=df['company_enter_month'].str[:6] # 달까지만 추출하기기 위해

In [ ]:
df['company_enter_month'] = pd.to_datetime(df['company_enter_month'],format='%Y%m') #datetime으로 변경

In [ ]:
df['company_enter_month']

0          2013-12-01
1          2019-08-01
2          2019-08-01
3          2012-03-01
4          2012-03-01
              ...
10270119   2021-08-01
10270120   2021-08-01
10270121   2021-08-01
10270122   2021-08-01
10270123   2021-08-01
Name: company_enter_month, Length: 10270124, dtype: datetime64[ns]

In [ ]:
from dateutil.relativedelta import relativedelta
# 두 날짜의 개월 수 차이 구하는 함수
def calmonth(x,y):
  delta = relativedelta(x,y)  # 두 날짜의 차이 구하기
  result = 12 * delta.years + delta.months 
  return result

In [ ]:
from tqdm import tqdm
df['working month'] = 0

for i in tqdm(range(len(df))):
    try:
        temp = calmonth(df['loanapply_insert_time'][i],df['company_enter_month'][i])
        df['working month'][i] = temp
    except:
        continue

  0%|          | 0/10270124 [00:00<?, ?it/s]/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
  1%|          | 78124/10270124 [00:43<1:33:17, 1820.69it/s]

In [ ]:
df['working month']

0           4
1           4
2           4
3           4
4           4
           ..
3257234    39
3257235    39
3257236    39
3257237    39
3257238    39
Name: working month, Length: 3257239, dtype: int64

In [ ]:
df.isnull().sum()

application_id                               0
loanapply_insert_time                        0
bank_id                                      0
product_id                                   0
loan_limit                                1757
loan_rate                                 1757
is_applied                             3257239
user_id                                      0
gender                                   36470
credit_score                            265464
yearly_income                                6
income_type                                  0
company_enter_month                      96769
employment_type                              0
houseown_type                                0
desired_amount                               0
purpose                                      0
personal_rehabilitation_yn               15472
personal_rehabilitation_complete_yn    2561745
existing_loan_cnt                       541898
existing_loan_amt                       846023
apply_year                                   0
user_age                                 36470
working month                                0
dtype: int64

In [ ]:
# df.to_csv('/content/drive/MyDrive/빅콘테스트 2022/data/user+loan 전처리 data(train).csv',index=False) # 중간 저장
df.to_csv('/content/drive/MyDrive/빅콘테스트 2022/data/user+loan 전처리 data(test).csv',index=False)

In [ ]:
df['purpose'].unique()

array(['대환대출', '생활비', '투자', '기타', '전월세보증금', '사업자금', '주택구입', '자동차구입'],
      dtype=object)

In [ ]:
kor_to_eng = {'생활비':'LIVING','대환대출':'SWITCHLOAN','주택구입':'BUYHOUSE','사업자금':'BUSINESS','투자':'INVEST','전월세보증금':'HOUSEDEPOSIT','기타':'ETC','자동차구입':'BUYCAR'}

In [ ]:
df['purpose']=df['purpose'].map(kor_to_eng) # Purpose에서서 한글을 다 영어로 교환

In [ ]:
df.pop('apply_year') # 필요없는 변수제거

0          2022
1          2022
2          2022
3          2022
4          2022
           ...
3257234    2022
3257235    2022
3257236    2022
3257237    2022
3257238    2022
Name: apply_year, Length: 3257239, dtype: int64

In [ ]:
df.loc[df['user_id'].isna()] # 유저 아이디가 결측인 데이터는 그에 해당하는 정보가 아예 존재 안함 -> 제거

,application_id,loanapply_insert_time,bank_id,product_id,loan_limit,loan_rate,is_applied,user_id,gender,credit_score,...,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,user_age,working month
24461,2015764,2022-04-29 15:16:36,27,193,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
389792,1669381,2022-03-01 18:03:44,14,197,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1207971,351899,2022-04-18 14:00:08,1,61,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2212400,1382876,2022-03-01 18:02:54,14,197,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2286871,2061284,2022-05-04 10:03:07,1,61,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10161033,197821,2022-03-02 10:29:03,13,262,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
10174186,398321,2022-03-02 15:17:30,10,149,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
10175144,1872250,2022-03-02 11:01:23,34,57,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
10191300,2052437,2022-03-02 17:24:59,30,121,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
10205114,1610455,2022-03-02 16:29:09,13,262,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [ ]:
df = df.dropna(subset = ['user_id']) # 결측치 삭제

# 추가 전처리 해야할 것

In [ ]:
# company enter month 제거 -> okay
# 금액 데이터들 만원으로 단위 변경 -> 즉 10000으로 나눠줌 -> okay
# 성별 1,0 -> man,woman 로 변경 -> okay
# 성별 nan -> unknown -> okay
# 기대출수,기대출금액 nan -> 0으로 변경 -> okay
# 개인 회생자 nan -> unknown으로 처리 -> 보류

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/빅콘테스트 2022/data/user+loan 전처리 data(train).csv') 
# df = pd.read_csv('/content/drive/MyDrive/빅콘테스트 2022/data/user+loan 전처리 data(test).csv')

ParserError: ignored

In [ ]:
df['loanapply_insert_time'].unique()

In [ ]:
df.pop('company_enter_month') # 필요없는 변수 제거

In [ ]:
df['gender']=df['gender'].astype(str)

In [ ]:
gender = {'1.0':'man','0.0':'woman'}
df['gender']=df['gender'].map(gender) # gender에서 1,0을 man,woman

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
df.iloc[:,[16,17]]

In [ ]:
df['gender']=df['gender'].fillna('unknown') # 성별 결측치 대체

In [ ]:
df['existing_loan_amt']=df['existing_loan_amt'].fillna(0) # 기대출수 결측치 대체
df['existing_loan_cnt']=df['existing_loan_cnt'].fillna(0) # 기대출금액 결측치 대체

In [ ]:
df.info()

In [ ]:
df.iloc[:,[4,10,14,19]]=df.iloc[:,[4,10,14,19]]/10000 # 금액 칼럼 10000원 단위로 변경

In [ ]:
df.head()

In [ ]:
# df.to_csv('/content/drive/MyDrive/빅콘테스트 2022/data/user+loan 전처리 data(train).csv',index=False) 
df.to_csv('/content/drive/MyDrive/빅콘테스트 2022/data/user+loan 전처리 data(test).csv',index=False)

#  여기까지하고 "2. 언더샘플링 & eda" 코드로 돌아가서 언더샘플링 진행한 후에 다시 이코드에 돌아와 추가 전처리를 진행한다.**

# 추추가 전처리

**여기서 언더샘플링한 데이터 추가 전처리 작업 진행**

insert time 시간 뽑기

bank id 제거

desired-amount*loan rate -> 부담해야하는 이자액계산

시장금리 변수 추가

sign up변수 추가

In [ ]:
# df = pd.read_csv('/content/drive/MyDrive/빅콘테스트 2022/data/train.csv') 
# df = pd.read_csv('/content/drive/MyDrive/빅콘테스트 2022/data/user+loan 전처리 data(train)_5%.csv') 
df = pd.read_csv('/content/drive/MyDrive/빅콘테스트 2022/data/user+loan 전처리 data(test)_5%.csv') # 이것도 나중에 추가 전처리해야함

In [ ]:
df.shape

(3255482, 21)

In [ ]:
log = pd.read_csv('/content/drive/MyDrive/빅콘테스트 2022/data/ult_uniq.csv') # 모델 학습용
# log = log.iloc[:,1:]
log

,user_id,loanapply_insert_time,start_freq,intro_freq,end_freq,lm_freq,pcal_freq,login_freq,idcert_freq,getcr_freq,dcal_freq,sign_month
0,430982.0,2022-06-07 13:05:41,8.489800,2.387623,7.489800,0.218218,0.0,0.000000,2.387623,0.476417,0.0,unsigned
1,430982.0,2022-06-07 13:05:40,8.489800,2.387623,7.489800,0.218218,0.0,0.000000,2.387623,0.476417,0.0,unsigned
2,430982.0,2022-06-07 13:05:46,8.489800,2.387623,7.489800,0.218218,0.0,0.000000,2.387623,0.476417,0.0,unsigned
3,430982.0,2022-06-07 13:05:51,8.489800,2.387623,7.489800,0.218218,0.0,0.000000,2.387623,0.476417,0.0,unsigned
4,430982.0,2022-06-07 13:05:39,8.489800,2.387623,7.489800,0.218218,0.0,0.000000,2.387623,0.476417,0.0,unsigned
...,...,...,...,...,...,...,...,...,...,...,...,...
1051722,478802.0,2022-06-03 12:01:49,2.108465,2.462019,1.108465,1.000000,0.0,3.462019,2.108465,0.285242,0.0,unsigned
1051723,478802.0,2022-06-03 12:02:00,2.108465,2.462019,1.108465,1.000000,0.0,3.462019,2.108465,0.285242,0.0,unsigned
1051724,478802.0,2022-06-03 12:01:59,2.108465,2.462019,1.108465,1.000000,0.0,3.462019,2.108465,0.285242,0.0,unsigned
1051725,478802.0,2022-06-03 12:01:56,2.108465,2.462019,1.108465,1.000000,0.0,3.462019,2.108465,0.285242,0.0,unsigned
1051726,478802.0,2022-06-03 12:01:58,2.108465,2.462019,1.108465,1.000000,0.0,3.462019,2.108465,0.285242,0.0,unsigned

In [ ]:
log['user_id'] = log['user_id'].astype(float)

In [ ]:
log

,user_id,loanapply_insert_time,start_freq,intro_freq,end_freq,lm_freq,pcal_freq,login_freq,idcert_freq,getcr_freq,dcal_freq,sign_month
0,430982.0,2022-06-07 13:05:41,8.489800,2.387623,7.489800,0.218218,0.0,0.000000,2.387623,0.476417,0.0,unsigned
1,430982.0,2022-06-07 13:05:40,8.489800,2.387623,7.489800,0.218218,0.0,0.000000,2.387623,0.476417,0.0,unsigned
2,430982.0,2022-06-07 13:05:46,8.489800,2.387623,7.489800,0.218218,0.0,0.000000,2.387623,0.476417,0.0,unsigned
3,430982.0,2022-06-07 13:05:51,8.489800,2.387623,7.489800,0.218218,0.0,0.000000,2.387623,0.476417,0.0,unsigned
4,430982.0,2022-06-07 13:05:39,8.489800,2.387623,7.489800,0.218218,0.0,0.000000,2.387623,0.476417,0.0,unsigned
...,...,...,...,...,...,...,...,...,...,...,...,...
1051722,478802.0,2022-06-03 12:01:49,2.108465,2.462019,1.108465,1.000000,0.0,3.462019,2.108465,0.285242,0.0,unsigned
1051723,478802.0,2022-06-03 12:02:00,2.108465,2.462019,1.108465,1.000000,0.0,3.462019,2.108465,0.285242,0.0,unsigned
1051724,478802.0,2022-06-03 12:01:59,2.108465,2.462019,1.108465,1.000000,0.0,3.462019,2.108465,0.285242,0.0,unsigned
1051725,478802.0,2022-06-03 12:01:56,2.108465,2.462019,1.108465,1.000000,0.0,3.462019,2.108465,0.285242,0.0,unsigned
1051726,478802.0,2022-06-03 12:01:58,2.108465,2.462019,1.108465,1.000000,0.0,3.462019,2.108465,0.285242,0.0,unsigned

In [ ]:
log = log.drop_duplicates()
log

,user_id,loanapply_insert_time,start_freq,intro_freq,end_freq,lm_freq,pcal_freq,login_freq,idcert_freq,getcr_freq,dcal_freq,sign_month
0,430982.0,2022-06-07 13:05:41,8.489800,2.387623,7.489800,0.218218,0.0,0.000000,2.387623,0.476417,0.0,unsigned
1,430982.0,2022-06-07 13:05:40,8.489800,2.387623,7.489800,0.218218,0.0,0.000000,2.387623,0.476417,0.0,unsigned
2,430982.0,2022-06-07 13:05:46,8.489800,2.387623,7.489800,0.218218,0.0,0.000000,2.387623,0.476417,0.0,unsigned
3,430982.0,2022-06-07 13:05:51,8.489800,2.387623,7.489800,0.218218,0.0,0.000000,2.387623,0.476417,0.0,unsigned
4,430982.0,2022-06-07 13:05:39,8.489800,2.387623,7.489800,0.218218,0.0,0.000000,2.387623,0.476417,0.0,unsigned
...,...,...,...,...,...,...,...,...,...,...,...,...
1051722,478802.0,2022-06-03 12:01:49,2.108465,2.462019,1.108465,1.000000,0.0,3.462019,2.108465,0.285242,0.0,unsigned
1051723,478802.0,2022-06-03 12:02:00,2.108465,2.462019,1.108465,1.000000,0.0,3.462019,2.108465,0.285242,0.0,unsigned
1051724,478802.0,2022-06-03 12:01:59,2.108465,2.462019,1.108465,1.000000,0.0,3.462019,2.108465,0.285242,0.0,unsigned
1051725,478802.0,2022-06-03 12:01:56,2.108465,2.462019,1.108465,1.000000,0.0,3.462019,2.108465,0.285242,0.0,unsigned
1051726,478802.0,2022-06-03 12:01:58,2.108465,2.462019,1.108465,1.000000,0.0,3.462019,2.108465,0.285242,0.0,unsigned

In [ ]:
df = pd.merge(df,log,how='inner',on=['user_id','loanapply_insert_time']) # 5퍼센트_용

In [ ]:
df.shape

(3255482, 31)

In [ ]:
df.isnull().sum()

application_id                 0
loanapply_insert_time          0
bank_id                        0
product_id                     0
loan_limit                     0
loan_rate                      0
is_applied               3255482
user_id                        0
gender                         0
credit_score                   0
yearly_income                  6
income_type                    0
employment_type                0
houseown_type                  0
desired_amount                 0
purpose                        0
existing_loan_cnt              0
existing_loan_amt              0
user_age                   36453
working month                  0
personal_rehab                 0
start_freq                     0
intro_freq                     0
end_freq                       0
lm_freq                        0
pcal_freq                      0
login_freq                     0
idcert_freq                    0
getcr_freq                     0
dcal_freq                      0
sign_month                     0
dtype: int64

In [ ]:
# df = df.iloc[:,1:] # 10퍼센트는 안해도됨

In [ ]:
df.pop('bank_id')

0           7
1          25
2           2
3           4
4          11
           ..
3255477    52
3255478    35
3255479    38
3255480    40
3255481    62
Name: bank_id, Length: 3255482, dtype: int64

In [ ]:
df.columns

Index(['application_id', 'loanapply_insert_time', 'product_id', 'loan_limit',
       'loan_rate', 'is_applied', 'user_id', 'gender', 'credit_score',
       'yearly_income', 'income_type', 'employment_type', 'houseown_type',
       'desired_amount', 'purpose', 'existing_loan_cnt', 'existing_loan_amt',
       'user_age', 'working month', 'personal_rehab', 'start_freq',
       'intro_freq', 'end_freq', 'lm_freq', 'pcal_freq', 'login_freq',
       'idcert_freq', 'getcr_freq', 'dcal_freq', 'sign_month'],
      dtype='object')

In [ ]:
# user가 부담해야하는 이자
df['user_interest'] = df['desired_amount']*df['loan_rate']

In [ ]:
df

,application_id,loanapply_insert_time,product_id,loan_limit,loan_rate,is_applied,user_id,gender,credit_score,yearly_income,...,intro_freq,end_freq,lm_freq,pcal_freq,login_freq,idcert_freq,getcr_freq,dcal_freq,sign_month,user_interest
0,1748340,2022-06-07 13:05:41,191,4200.0,13.6,NaN,430982.0,man,620.0,2400.0,...,2.387623,7.489800,0.218218,0.0,0.000000,2.387623,0.476417,0.0,unsigned,34000.0
1,1748340,2022-06-07 13:05:41,169,2400.0,17.9,NaN,430982.0,man,620.0,2400.0,...,2.387623,7.489800,0.218218,0.0,0.000000,2.387623,0.476417,0.0,unsigned,44750.0
2,1748340,2022-06-07 13:05:41,7,2400.0,18.5,NaN,430982.0,man,620.0,2400.0,...,2.387623,7.489800,0.218218,0.0,0.000000,2.387623,0.476417,0.0,unsigned,46250.0
3,1748340,2022-06-07 13:05:41,268,2900.0,10.8,NaN,430982.0,man,620.0,2400.0,...,2.387623,7.489800,0.218218,0.0,0.000000,2.387623,0.476417,0.0,unsigned,27000.0
4,1748340,2022-06-07 13:05:41,118,500.0,16.4,NaN,430982.0,man,620.0,2400.0,...,2.387623,7.489800,0.218218,0.0,0.000000,2.387623,0.476417,0.0,unsigned,41000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3255477,1428218,2022-06-03 12:02:00,187,100.0,10.0,NaN,478802.0,man,610.0,4500.0,...,2.462019,1.108465,1.000000,0.0,3.462019,2.108465,0.285242,0.0,unsigned,50000.0
3255478,1428218,2022-06-03 12:02:00,38,2100.0,16.5,NaN,478802.0,man,610.0,4500.0,...,2.462019,1.108465,1.000000,0.0,3.462019,2.108465,0.285242,0.0,unsigned,82500.0
3255479,1428218,2022-06-03 12:01:59,223,3400.0,17.3,NaN,478802.0,man,610.0,4500.0,...,2.462019,1.108465,1.000000,0.0,3.462019,2.108465,0.285242,0.0,unsigned,86500.0
3255480,1428218,2022-06-03 12:01:56,129,1200.0,14.1,NaN,478802.0,man,610.0,4500.0,...,2.462019,1.108465,1.000000,0.0,3.462019,2.108465,0.285242,0.0,unsigned,70500.0
3255481,1428218,2022-06-03 12:01:58,200,300.0,14.8,NaN,478802.0,man,610.0,4500.0,...,2.462019,1.108465,1.000000,0.0,3.462019,2.108465,0.285242,0.0,unsigned,74000.0

In [ ]:
df['sign_month'].unique()

array(['unsigned', '5', '4', '3'], dtype=object)

In [ ]:
# df.loc[df['sign_month']=='unsinged','sign_month'] = 'unsigned' # 잘못 명명된 데이터 변경

In [ ]:
# 기간내에 회원가입한 유저 확인변수
# 여기서 0은 신규유저라기 보단 데이터 수집 이전에 가입을 한 회원으로 이해하는게 좋다
df['sign_up'] = df.apply(lambda x: 1 if x['sign_month']!='unsigned' else 0,axis=1)

In [ ]:
df

,application_id,loanapply_insert_time,product_id,loan_limit,loan_rate,is_applied,user_id,gender,credit_score,yearly_income,...,end_freq,lm_freq,pcal_freq,login_freq,idcert_freq,getcr_freq,dcal_freq,sign_month,user_interest,sign_up
0,1748340,2022-06-07 13:05:41,191,4200.0,13.6,NaN,430982.0,man,620.0,2400.0,...,7.489800,0.218218,0.0,0.000000,2.387623,0.476417,0.0,unsigned,34000.0,0
1,1748340,2022-06-07 13:05:41,169,2400.0,17.9,NaN,430982.0,man,620.0,2400.0,...,7.489800,0.218218,0.0,0.000000,2.387623,0.476417,0.0,unsigned,44750.0,0
2,1748340,2022-06-07 13:05:41,7,2400.0,18.5,NaN,430982.0,man,620.0,2400.0,...,7.489800,0.218218,0.0,0.000000,2.387623,0.476417,0.0,unsigned,46250.0,0
3,1748340,2022-06-07 13:05:41,268,2900.0,10.8,NaN,430982.0,man,620.0,2400.0,...,7.489800,0.218218,0.0,0.000000,2.387623,0.476417,0.0,unsigned,27000.0,0
4,1748340,2022-06-07 13:05:41,118,500.0,16.4,NaN,430982.0,man,620.0,2400.0,...,7.489800,0.218218,0.0,0.000000,2.387623,0.476417,0.0,unsigned,41000.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3255477,1428218,2022-06-03 12:02:00,187,100.0,10.0,NaN,478802.0,man,610.0,4500.0,...,1.108465,1.000000,0.0,3.462019,2.108465,0.285242,0.0,unsigned,50000.0,0
3255478,1428218,2022-06-03 12:02:00,38,2100.0,16.5,NaN,478802.0,man,610.0,4500.0,...,1.108465,1.000000,0.0,3.462019,2.108465,0.285242,0.0,unsigned,82500.0,0
3255479,1428218,2022-06-03 12:01:59,223,3400.0,17.3,NaN,478802.0,man,610.0,4500.0,...,1.108465,1.000000,0.0,3.462019,2.108465,0.285242,0.0,unsigned,86500.0,0
3255480,1428218,2022-06-03 12:01:56,129,1200.0,14.1,NaN,478802.0,man,610.0,4500.0,...,1.108465,1.000000,0.0,3.462019,2.108465,0.285242,0.0,unsigned,70500.0,0
3255481,1428218,2022-06-03 12:01:58,200,300.0,14.8,NaN,478802.0,man,610.0,4500.0,...,1.108465,1.000000,0.0,3.462019,2.108465,0.285242,0.0,unsigned,74000.0,0

In [ ]:
df['loanapply_insert_time'].unique()

array(['2022-05-09 08:44:59', '2022-05-09 09:34:30',
       '2022-05-09 09:34:47', ..., '2022-05-16 13:19:53',
       '2022-05-16 14:42:58', '2022-05-16 14:43:18'], dtype=object)

In [ ]:
# 금리와 병합하기 위해 결합할 시간인덱스 형태로 바꿔줌
from datetime import datetime
df['combine time'] = df['loanapply_insert_time'].str[:10]
df['combine time'] = df['combine time'].apply(lambda _ : datetime.strptime(_,'%Y-%m-%d'))

In [ ]:
df['combine time']

0         2022-06-07
1         2022-06-07
2         2022-06-07
3         2022-06-07
4         2022-06-07
             ...
3255477   2022-06-03
3255478   2022-06-03
3255479   2022-06-03
3255480   2022-06-03
3255481   2022-06-03
Name: combine time, Length: 3255482, dtype: datetime64[ns]

In [ ]:
금리 = pd.read_csv('/content/drive/MyDrive/빅콘테스트 2022/data/시장금리.csv')

In [ ]:
금리

      Frequency   시장금리
0    2022-03-01  2.242
1    2022-03-02  2.187
2    2022-03-03  2.195
3    2022-03-04  2.214
4    2022-03-05  2.214
..          ...    ...
117  2022-06-26  3.523
118  2022-06-27  3.568
119  2022-06-28  3.552
120  2022-06-29  3.552
121  2022-06-30  3.550

[122 rows x 2 columns]

In [ ]:
금리['Frequency'] = 금리['Frequency'].apply(lambda _ : datetime.strptime(_,'%Y-%m-%d'))

In [ ]:
금리.columns = ['combine time','market rates']

In [ ]:
금리

    combine time  market rates
0     2022-03-01         2.242
1     2022-03-02         2.187
2     2022-03-03         2.195
3     2022-03-04         2.214
4     2022-03-05         2.214
..           ...           ...
117   2022-06-26         3.523
118   2022-06-27         3.568
119   2022-06-28         3.552
120   2022-06-29         3.552
121   2022-06-30         3.550

[122 rows x 2 columns]

In [ ]:
df.shape

(3255482, 33)

In [ ]:
df1= pd.merge(df,금리,on='combine time',how='left')
df1

,application_id,loanapply_insert_time,product_id,loan_limit,loan_rate,is_applied,user_id,gender,credit_score,yearly_income,...,pcal_freq,login_freq,idcert_freq,getcr_freq,dcal_freq,sign_month,user_interest,sign_up,combine time,market rates
0,1748340,2022-06-07 13:05:41,191,4200.0,13.6,NaN,430982.0,man,620.0,2400.0,...,0.0,0.000000,2.387623,0.476417,0.0,unsigned,34000.0,0,2022-06-07,3.232
1,1748340,2022-06-07 13:05:41,169,2400.0,17.9,NaN,430982.0,man,620.0,2400.0,...,0.0,0.000000,2.387623,0.476417,0.0,unsigned,44750.0,0,2022-06-07,3.232
2,1748340,2022-06-07 13:05:41,7,2400.0,18.5,NaN,430982.0,man,620.0,2400.0,...,0.0,0.000000,2.387623,0.476417,0.0,unsigned,46250.0,0,2022-06-07,3.232
3,1748340,2022-06-07 13:05:41,268,2900.0,10.8,NaN,430982.0,man,620.0,2400.0,...,0.0,0.000000,2.387623,0.476417,0.0,unsigned,27000.0,0,2022-06-07,3.232
4,1748340,2022-06-07 13:05:41,118,500.0,16.4,NaN,430982.0,man,620.0,2400.0,...,0.0,0.000000,2.387623,0.476417,0.0,unsigned,41000.0,0,2022-06-07,3.232
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3255477,1428218,2022-06-03 12:02:00,187,100.0,10.0,NaN,478802.0,man,610.0,4500.0,...,0.0,3.462019,2.108465,0.285242,0.0,unsigned,50000.0,0,2022-06-03,3.121
3255478,1428218,2022-06-03 12:02:00,38,2100.0,16.5,NaN,478802.0,man,610.0,4500.0,...,0.0,3.462019,2.108465,0.285242,0.0,unsigned,82500.0,0,2022-06-03,3.121
3255479,1428218,2022-06-03 12:01:59,223,3400.0,17.3,NaN,478802.0,man,610.0,4500.0,...,0.0,3.462019,2.108465,0.285242,0.0,unsigned,86500.0,0,2022-06-03,3.121
3255480,1428218,2022-06-03 12:01:56,129,1200.0,14.1,NaN,478802.0,man,610.0,4500.0,...,0.0,3.462019,2.108465,0.285242,0.0,unsigned,70500.0,0,2022-06-03,3.121
3255481,1428218,2022-06-03 12:01:58,200,300.0,14.8,NaN,478802.0,man,610.0,4500.0,...,0.0,3.462019,2.108465,0.285242,0.0,unsigned,74000.0,0,2022-06-03,3.121

# 다른 경제 변수와도 병합

In [ ]:
경제변수 = pd.read_csv('/content/drive/MyDrive/빅콘테스트 2022/data/빅콘 경제변수.csv')
경제변수.tail()

             일자     bitcoin     gold  dollar       s&p     kospi
117  2022-06-26  21,027.30   76,190   1300.7  3,911.74  2,366.60
118  2022-06-27  20,735.48   75,420   1299.4  3,900.11  2,401.92
119  2022-06-28  20,280.64   75,450   1285.6  3,821.55  2,422.09
120  2022-06-29  20,104.02   75,640   1284.9  3,818.83  2,377.99
121  2022-06-30  19,784.73   75,920   1292.9  3,785.38  2,332.64

In [ ]:
경제변수.rename(columns={'일자':'combine time'},inplace=True)

In [ ]:
경제변수['combine time']=pd.to_datetime(경제변수['combine time'])

In [ ]:
df1 = pd.merge(df1,경제변수,on='combine time',how='left')

In [ ]:
df1.shape

(3255482, 39)

In [ ]:
df1['loanapply_insert_time'] = pd.to_datetime(df1['loanapply_insert_time'])

In [ ]:
df1['hour']=df1['loanapply_insert_time'].dt.hour

In [ ]:
df1['hour'].unique()

array([13, 12, 21, 19,  5,  8, 16, 17, 20,  9, 14, 23, 10, 22, 18, 11, 15,
        7,  2,  1,  3,  0,  6,  4])

법과 절기학으로는 0-5시는 새벽, 6-9시는 아침, 10-17시는 낮, 18-21시는 저녁, 22-24시는 밤을 의미한다.

In [ ]:
df1['time division'] = pd.cut(df1.hour,bins=[-1,5,9,17,21,24],labels=['dawn','morning','noon','dinner','night'])

In [ ]:
df1.loc[df1['hour']==6]

,application_id,loanapply_insert_time,product_id,loan_limit,loan_rate,is_applied,user_id,gender,credit_score,yearly_income,...,sign_up,combine time,market rates,bitcoin,gold,dollar,s&p,kospi,hour,time division
2687,286488,2022-06-07 06:18:20,197,300.0,16.7,NaN,29389.0,woman,680.0,4800.0,...,0,2022-06-07,3.232,"31,155.48","74,400",1241.1,"4,160.68","2,626.34",6,morning
2688,286488,2022-06-07 06:18:20,29,300.0,18.3,NaN,29389.0,woman,680.0,4800.0,...,0,2022-06-07,3.232,"31,155.48","74,400",1241.1,"4,160.68","2,626.34",6,morning
2689,286488,2022-06-07 06:18:19,113,500.0,19.5,NaN,29389.0,woman,680.0,4800.0,...,0,2022-06-07,3.232,"31,155.48","74,400",1241.1,"4,160.68","2,626.34",6,morning
2691,2059921,2022-06-07 06:06:07,223,2300.0,17.6,NaN,128629.0,man,610.0,3000.0,...,0,2022-06-07,3.232,"31,155.48","74,400",1241.1,"4,160.68","2,626.34",6,morning
2692,2059921,2022-06-07 06:06:07,168,2400.0,17.6,NaN,128629.0,man,610.0,3000.0,...,0,2022-06-07,3.232,"31,155.48","74,400",1241.1,"4,160.68","2,626.34",6,morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3253957,1639270,2022-06-03 06:25:26,149,1800.0,18.0,NaN,458742.0,man,540.0,6000.0,...,0,2022-06-03,3.121,"29,704.39","74,390",1251.2,"4,108.54","2,670.65",6,morning
3253958,1639270,2022-06-03 06:25:26,65,1800.0,18.0,NaN,458742.0,man,540.0,6000.0,...,0,2022-06-03,3.121,"29,704.39","74,390",1251.2,"4,108.54","2,670.65",6,morning
3254724,698867,2022-06-03 06:12:52,217,500.0,19.9,NaN,752179.0,man,590.0,8000.0,...,1,2022-06-03,3.121,"29,704.39","74,390",1251.2,"4,108.54","2,670.65",6,morning
3254725,698867,2022-06-03 06:12:52,157,2900.0,18.5,NaN,752179.0,man,590.0,8000.0,...,1,2022-06-03,3.121,"29,704.39","74,390",1251.2,"4,108.54","2,670.65",6,morning
3254726,698867,2022-06-03 06:12:52,7,3000.0,14.1,NaN,752179.0,man,590.0,8000.0,...,1,2022-06-03,3.121,"29,704.39","74,390",1251.2,"4,108.54","2,670.65",6,morning

In [ ]:
df1['time division'].value_counts()

noon       1769411
dinner      567756
morning     488130
dawn        222005
night       208180
Name: time division, dtype: int64

In [ ]:
df1.columns

Index(['application_id', 'loanapply_insert_time', 'product_id', 'loan_limit',
       'loan_rate', 'is_applied', 'user_id', 'gender', 'credit_score',
       'yearly_income', 'income_type', 'employment_type', 'houseown_type',
       'desired_amount', 'purpose', 'existing_loan_cnt', 'existing_loan_amt',
       'user_age', 'working month', 'personal_rehab', 'start_freq',
       'intro_freq', 'end_freq', 'lm_freq', 'pcal_freq', 'login_freq',
       'idcert_freq', 'getcr_freq', 'dcal_freq', 'sign_month', 'user_interest',
       'sign_up', 'combine time', 'market rates', 'bitcoin', 'gold', 'dollar',
       's&p', 'kospi', 'hour', 'time division'],
      dtype='object')

In [ ]:
# 필요없는 변수 제거
df1.pop('hour')
df1.pop('combine time')
# df1.pop('loan_rate')
# df1.pop('desired_amount')

0         2022-06-07
1         2022-06-07
2         2022-06-07
3         2022-06-07
4         2022-06-07
             ...
3255477   2022-06-03
3255478   2022-06-03
3255479   2022-06-03
3255480   2022-06-03
3255481   2022-06-03
Name: combine time, Length: 3255482, dtype: datetime64[ns]

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3255482 entries, 0 to 3255481
Data columns (total 39 columns):
 #   Column                 Dtype
---  ------                 -----
 0   application_id         int64
 1   loanapply_insert_time  datetime64[ns]
 2   product_id             int64
 3   loan_limit             float64
 4   loan_rate              float64
 5   is_applied             float64
 6   user_id                float64
 7   gender                 object
 8   credit_score           float64
 9   yearly_income          float64
 10  income_type            object
 11  employment_type        object
 12  houseown_type          object
 13  desired_amount         float64
 14  purpose                object
 15  existing_loan_cnt      float64
 16  existing_loan_amt      float64
 17  user_age               float64
 18  working month          int64
 19  personal_rehab         object
 20  start_freq             float64
 21  intro_freq             float64
 22  end_freq               float64
 23  lm_freq                float64
 24  pcal_freq              float64
 25  login_freq             float64
 26  idcert_freq            float64
 27  getcr_freq             float64
 28  dcal_freq              float64
 29  sign_month             object
 30  user_interest          float64
 31  sign_up                int64
 32  market rates           float64
 33  bitcoin                object
 34  gold                   object
 35  dollar                 float64
 36  s&p                    object
 37  kospi                  object
 38  time division          category
dtypes: category(1), datetime64[ns](1), float64(22), int64(4), object(11)
memory usage: 971.8+ MB

In [ ]:
df1.to_csv('/content/drive/MyDrive/빅콘테스트 2022/data/test_complete_5퍼.csv')